@import 'swiper/css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
  -ms-overflow-style: none;
  list-style: none;
}

textarea,
input {
  border: none;
  outline: none;
}
html {
  font-size: 100px;
  min-height: 400px;
}
input,
button,
textarea,
select,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}

img {
  border: none;
  object-fit: contain;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-user-select: none;
  -moz-user-focus: none;
  -moz-user-select: none;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
}

// common class
.container {
    width: 85%;
    margin: 0 auto;
}


// utils class
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.relative-x-center {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.relative-y-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.absolute-x-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.absolute-y-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.flex {
  display: flex;
}
.block {
  display: block !important;
}
.inline-block {
  display: inline-block;
}
.inline {
  display: inline !important;
}
.none {
  display: none;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rotate-90 {
  transform: rotate(90deg);
}
.rotate-180 {
  transform: rotate(180deg);
}

.text-white {
  color: #fff;
}
@for $i from 1 through 50 {
  .z-#{$i} {
    z-index: $i;
  }
}
